<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="/public/css/test.css" />

    <script type="text/js" src="js/app.js"></script>

    <title>Document</title>
  </head>
  <body>
    <%- include('particals/test-header.ejs') %>
    <img class="portrait" src="/public/img/icon/poster.png" alt="이미지1" />
    <%- include('particals/test-footer.ejs') %>
  </body>
</html>
