<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="/public/css/test.css" />

    <title>Document</title>
  </head>
  <body>
    <%- include('particals/test-header.ejs') %>
    <p><%= message %></p>
    <%- include('particals/test-footer.ejs') %>
    <a href="https://Psmin94.github.io">도움블로그</a>
  </body>
</html>
