<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('particals/head') -%>

    <meta name="author" content="Psmin" />
    <meta name="description" content="웹 표준 준수 영화 정보 검색 사이트" />
    <meta name="keyword" content="웹 표준, 영화, 리뷰" />

    <!-- CSS style -->
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <div id="skip">
      <a href="#cont_nav">메뉴 바로가기</a>
      <a href="#cont_ban">배너 메뉴 바로가기</a>
      <a href="#cont_cont">컨텐츠 바로가기</a>
      <a href="#footer">푸터 바로가기</a>
    </div>
    <!-- //스킵 네비게이션 -->

    <div id="wrap">
      <%- include('particals/header') %>
      <!-- //header -->
      <div id="contents">
        <div class="cont_nav">
          <div class="container">
            <div class="cont_categories">
              <ul>
                <li><a href="#">드라마</a></li>
                <li><a href="#">로맨스</a></li>
                <li><a href="#">코미디</a></li>
                <li><a href="#">액션</a></li>
                <li><a href="#">스릴러</a></li>
                <li><a href="#">미스터리</a></li>
                <li><a href="#">모험</a></li>
                <li><a href="#">액션</a></li>
                <li><a href="#">판타지</a></li>
                <li><a href="#">SF</a></li>
                <li><a href="#">공포</a></li>
                <li><a href="#">다큐멘터리</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- //categories_nav -->
        <div id="cont_cont">
          <div class="container">
            <h2 class="ir_su">컨텐츠 영역</h2>
            <div class="item_list">
              <ul>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
                <li class="item">
                  <a href="#">
                    <span>
                      <img src="/public/img/icon/poster.png" alt="이미지1" />
                      <em>바로가기</em>
                    </span>
                    <strong>영화제목</strong>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- //cont_cont -->
      </div>
      <%- include('particals/footer') %>
      <!-- //footer -->
    </div>
    <!-- //wrap -->
  </body>
  <script src="/public/js/main.js"></script>
</html>
