<div id="footer">
  <div class="container">
    <h2 class="ir_su">푸터 영역</h2>
    <div class="footer">
      <div class="contact">
        <h1>Psmin. Dev</h1>
        <br />
        <ul>
          <li>
            <img src="/public/img/icon/email-icon.png" alt="Email" />
            <em>tkdals6405@gmail.com</em>
          </li>
          <li>
            <a href="https://github.com/Psmin94">
              <img src="/public/img/icon/github-icon.png" alt="Github" />
              <em>https://github.com/Psmin94</em>
            </a>
          </li>
          <li>
            <a href="https://psmin94.github.io/">
              <img src="/public/img/icon/blog-icon.png" alt="Blog" />
              <em>https://psmin94.github.io/</em>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/public/img/icon/portfolio-icon.png" alt="Portfolio" />
              <em>준비중</em>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
