<div id="header">
  <div class="container">
    <div class="header">
      <div class="header_tit">
        <h1>영화 정보 검색 사이트</h1>
      </div>
      <!-- //header_tit -->
      <div class="header_nav">
        <ul>
          <li><a href="#">홈</a></li>
          <li><a href="#" class="selected">장르별</a></li>
          <li><a href="">년도별</a></li>
        </ul>
      </div>
      <!-- //header_nav -->
      <div class="header_search">
        <form action="" method="post">
          <input type="text" name="key" class="search" />
          <input type="image" src="/public/img/icon/search-icon.png" alt="submit" class="btn_summit" />
        </form>
      </div>
    </div>
  </div>
</div>
