body {
  color: #1613c0;
  font-family: serif;
  max-width: 650px;
  margin: 0 auto;
}
footer {
  color: #1275d1;
  border-top: 1px solid #000;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
}
header a {
  color: rgb(67, 55, 241);
}

header h1 {
  font-size: 45px;
  margin-bottom: 16px;
}
.portrait {
  width: 250px;
}
