<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS style -->
    <link rel="stylesheet" href="/public/css/index.css" />

    <title>Document</title>
  </head>
  <body>
    <a href="http://localhost:5000/air">공공 데이터 API - 미세먼지 정도</a>
    <a href="http://localhost:5000/pharmacy">공공 데이터 API - 네이버 지도 기반 약국 정보 사이트</a>
    <a href="http://localhost:5000/movie">공공 데이터 API - 영화 정보 검색 사이트</a>
  </body>
</html>
